.center-block {
	float: none !important;
}

h1 a {
	color: $grey;

	#{$link-states} {
		text-decoration: none;
	}
}

a {
	color: $red;

	#{$link-states} {
		color: $red;
	}
}

img {
	max-width: 100%;
}